In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import warnings 
warnings.filterwarnings('ignore')

## Loading Data

In [2]:
df = pd.read_csv("Churn_Modelling.csv")
df.head()

FileNotFoundError: ignored

## Descriptive Statistics

In [ ]:
df.describe()

In [ ]:
df[["NumOfProducts" ,"HasCrCard", "IsActiveMember"]] = df[["NumOfProducts" ,"HasCrCard", "IsActiveMember"]].astype(str)

In [ ]:
df.info()

In [ ]:
df.drop("RowNumber",axis=1,inplace=True)

# Visualization

In [ ]:
plt.figure(figsize=(8,8))
plt.hist(df.EstimatedSalary,bins=int(np.sqrt(len(list(df.EstimatedSalary)))))
plt.show()

In [ ]:
df2 = df.sort_values(by="EstimatedSalary")
df2.head()

In [ ]:
sns.barplot(y=  "EstimatedSalary",x="Gender",hue="HasCrCard",data=df2[:100])

In [ ]:
sns.lmplot(x = "EstimatedSalary",y = "Balance",hue="Gender",data=df2[:100])

## Handling Missing Value

There is no missing value so no need to do any preprocessing for null values

In [ ]:
df.isna().sum()

In [ ]:
num = df.select_dtypes(include=["float64","int64"])
num.head()

# Outlier Remover

In [ ]:
figure = plt.figure(figsize = (8,10))
for i,j in enumerate(num.columns):
  plt.subplot(3,3,i+1)
  sns.boxplot(num[j])
  plt.title(j)

In [3]:
df.head()

NameError: ignored

In [4]:
df.size

NameError: ignored

In [ ]:
Q1 = df.quantile(0.25)
Q3 = df.quantile(0.75)
IQR = Q3 - Q1
df = df[~((df < (Q1 - 1.5 * IQR)) |(df > (Q3 + 1.5 * IQR))).any(axis=1)]

In [ ]:
df.size

99801

In [5]:
df.head()

NameError: ignored

# Scaling the data

In [6]:
from sklearn.preprocessing import StandardScaler
num = num.drop("Exited",axis=1)
df[num.columns] = StandardScaler().fit_transform(df[num.columns])

NameError: ignored

## OneHotEncoding

In [ ]:
cat = df.select_dtypes(exclude=["int64","float64"])
cat.columns

Index(['Surname', 'Geography', 'Gender', 'NumOfProducts', 'HasCrCard',
       'IsActiveMember'],
      dtype='object')

In [ ]:
mod = df.drop(["Surname","CustomerId"],axis=1)
df  = pd.get_dummies(drop_first=True,data=mod)
df.head()

,CreditScore,Age,Tenure,Balance,EstimatedSalary,Exited,Geography_Germany,Geography_Spain,Gender_Male,NumOfProducts_2,NumOfProducts_3,HasCrCard_1,IsActiveMember_1
1,-0.455004,0.599817,-1.403186,0.174070,0.221181,0,0,1,0,0,0,0,1
3,0.496133,0.350214,-1.403186,-1.159714,-0.104937,0,0,0,0,1,0,0,0
4,2.074392,0.849420,-1.055481,0.837764,-0.361820,0,0,1,0,0,0,1,1
6,1.781735,1.723029,0.683046,-1.159714,-1.564488,0,0,0,1,1,0,1,1
8,-1.573373,0.974221,-0.360070,1.100999,-0.434020,0,0,0,1,1,0,0,1

# Splitting The Data

In [7]:
from sklearn.model_selection import train_test_split

In [8]:
X_train, X_test, y_train, y_test = train_test_split(df.drop("Exited",axis=1),df["Exited"], test_size=0.33, random_state=42)

NameError: ignored

In [10]:
X_train

NameError: ignored